# Configuração da Node/Express
NODE_ENV=development
PORT=3000
HOST=localhost

# Configuração do JWT
JWT_SECRET=sua_chave_secreta_aqui

# Configuração de CORS
CORS_ORIGIN=*

# Email (opcional para produção)
EMAIL_USER=seu_email@gmail.com
EMAIL_PASSWORD=sua_senha_app_aqui

# Google Cloud (será usado depois)
GOOGLE_CLOUD_PROJECT=seu-projeto
GOOGLE_APPLICATION_CREDENTIALS=./credentials.json
